.footer
    padding: 5vw 
    a, .copyright 
        text-decoration: none 
        color: white
        text-align: center 
        width: 100%
        display: block

    .logo_container, .logo_container img 
        display: block 
        margin: auto 
        max-width: 200px 
        width: 100% 

    .copyright 
        margin-top: 1rem 
        font-size: 0.8rem
        font-style: italic

