.project
    background-color: white
    padding: 5vw
    
.back
    text-decoration: none 
    color: black
    padding: 0 0 16px 16px
    display: block
    position: relative
    font-style: italic
    &::before 
        position: absolute 
        content: '<'
        left: 0